.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-nav-list {
  list-style: none;
  display: flex;
  justify-content: left;
  padding: 0;
  font-size: 24px;
}

.App-nav-item {
  margin-right: 20px;
}

.report {
  margin-left: 20px;
}

.report-statistics-countries {
  margin: 20px 0;
}

.report-statistics-countries-title {
  margin: 20px 0;
}

.report-statistics-genders-title {
  margin: 20px 0;
}

.survey-form {
  display: flex;
}

.survey-form-error {
  color: red;
  font-size: 20px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
